.item{
  $x:100;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;

      .home__about &{
        margin-top: 50px;
        @include media-breakpoint-up('m'){
          margin-top: #{$x}px;
        }
      }
    }
  }
  $x:47;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;


      .home__muonhoc &{
        margin-top: 10px;
        @include media-breakpoint-up('m'){
          margin-top: #{$x}px;
        }
      }
    }
  }
  $x:36;
  &__#{$x}{
    &:nth-child(n+2){
      margin-top: #{$x}px;
    }
  }
  &__35{
    &:nth-child(n+2){
      margin-top: 35px;
    }
  }
  &__34{
    &:nth-child(n+2){
      margin-top: 34px;
    }
  }
  &__28{
    &:nth-child(n+2){
      margin-top: 28px;
    }
  }
  &__24{
    &:nth-child(n+2){
      margin-top: 24px;
    }
  }
  &__20{
    &:nth-child(n+2){
      margin-top: 20px;
    }
  }
  &__15{
    &:nth-child(n+2){
      margin-top: 15px;
    }
  }
  &__10{
    &:nth-child(n+2){
      margin-top: 10px;
    }
  }
  &__9{
    &:nth-child(n+2){
      margin-top: 9px;
    }
  }
  &__7{
    &:nth-child(n+2){
      margin-top: 7px;
    }
  }
}